<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"
        th:href="@{/static/style.css}">
    <script type="text/javascript" th:src="@{/static/script.js}"></script>

    <title>Task Details</title>
</head>

<body>
<!-- This page will view the details about a task and the link directed to this page is on
HomepageView.html -->
    <h1>Task Details</h1>
    <p>Status of task (complete or incomplete)</p>
    <p>Time Task is posted</p>
    <p>Reward</p>
    <p>When Task need to be done by</p>
</body>

</html>